<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>TagAI</title>
    <link rel="icon" href="./img/icon.ico" />
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/vue.global.js"></script>
  </head>

  <body class="body">
    <div id="app" class="container container1">
      <div class="container text-center container-left">
        <div class="row">
          <span class="title">正面</span>
          <div class="input-group">
            <textarea class="form-control" v-model="posVal"></textarea>
          </div>
        </div>
        <div class="row">
          <span class="title">负面</span>
          <div class="input-group">
            <textarea class="form-control" v-model="negVal"></textarea>
          </div>
        </div>
        <img src="./img/logo.png" alt="" class="img">
      </div>
      <div class="container-right">

        <div style="margin-bottom: 10px;">
          <div class="col mb-10" style="display: flex;flex-wrap: wrap;">
            <div style="width:80px">
              <button type="button" class="btn btn-danger btn-sm ml-5" @click="clearPosValArr" v-if="posValArr.length">重置正面</button>
            </div>
            <div style="flex:1">
              <button v-for="item in posValArr" :key="item.label" type="button" class="btn btn-primary btn-sm" @click="delVal(item.label)">{{item.label}}{{item.weight !== 0 ? `(${item.weight})` : ''}}</button>
            </div>
          </div>
          <div class="col" style="display: flex;flex-wrap: wrap;">
            <div style="width:80px">
              <button type="button" class="btn btn-danger btn-sm ml-5" @click="clearNegValArr" v-if="negValArr.length">重置反面</button>
            </div>
            <div style="flex:1">
              <button v-for="item in negValArr" :key="item.label" type="button" class="btn btn-warning btn-sm" @click="delVal(item.label)">{{item.label}}{{item.weight !== 0 ? `(${item.weight})` : ''}}</button>
            </div>
          </div>
        </div>

        <ul class="fileUl nav nav-tabs">
          <li class="nav-link" v-for="item in file" :key="item" @click="firstNavF(item)" :class="currentItem === item ? 'active' : ''">{{item}}</li>
        </ul>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li v-for="item in Object.keys(globalData)" :key="item" class="nav-item">
            <button class="nav-link" :class="currentItem2 === item ? 'active' : ''" @click="secondNavF(item)">{{item}}</button>
          </li>
        </ul>
        <div class="tab-content">
          <div class="show active">
            <div class="container-right-bottom">
              <div v-for="item in Object.keys(globalData[currentItem2] || {})" class="btn-group tag_btn_group" :class="negValArr.map(item=>item.value).concat(posValArr.map(item=>item.value)).includes(globalData[currentItem2][item]) ? 'active' : ''">
                <button type="button" class="btn btn-success" @click="weightF(item,'minus')">-</button>
                <input type="checkbox" class="btn-check">
                <label class="btn btn-outline-primary" @click="addVal(item,globalData[currentItem2][item])">
                  {{item}}
                  <span class="badge bg-secondary" v-if="currentItem2.includes('负面') || item.includes('负面')">
                    {{negValArr.find(i => i.label.includes(item))?.weight || 0}}
                  </span>
                  <span class="badge bg-secondary" v-else>
                    {{posValArr.find(i => i.label.includes(item))?.weight || 0}}
                  </span>
                </label>
                <button type="button" class="btn btn-success" @click="weightF(item,'add')">+</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>

</html>


<script>
  const App = {
    data() {
      return {
        file: ['人物', '人物发型', '动作', '动物装饰', '场景道具', '抽卡机', '新服饰', '服饰', '艺术魔法', '起手式', '面部表情', '颜色'],
        url: '',
        currentItem: '',
        currentItem2: '',
        globalData: {},
        posVal: '',
        negVal: '',
        posValArr: [],
        negValArr: [],
      };
    },
    created() {
      this.resetVal()
    },
    mounted() {
      let url = ''
      url = `${window.location.origin}/${window.location.pathname}`;
      if (window.location.href.includes('localhost') || window.location.href.includes('127.0.0.1')) {
        url = `${window.location.origin}/`
      } else {
        url = `${window.location.origin}/${window.location.pathname}`;
      }
      this.url = url
      this.currentItem = this.file[0]
      this.firstNavF()
    },
    methods: {
      resetVal() {
        if (localStorage.posValArr) {
          this.posValArr = JSON.parse(localStorage.posValArr)
        }
        if (localStorage.negValArr) {
          this.negValArr = JSON.parse(localStorage.negValArr)
        }
        this.setPosVal()
        this.setNegVal()
      },
      firstNavF(item) {
        this.currentItem = item || this.currentItem
        this.getData()
      },
      secondNavF(item) {
        this.currentItem2 = item
      },
      getData() {
        fetch(`${this.url}json/${this.currentItem}.json`)
          .then(res => res.json())
          .then(data => {
            this.currentItem2 = Object.keys(data)[0]
            this.globalData = data
          })
          .catch(error => console.error('加载JSON文件时出错:', error));
      },
      delVal(item) {
        if (item.includes('负面') || item.includes('负面')) {
          this.negValArr = this.negValArr.filter(i => !i.label.includes(item))
          this.setNegVal()
        } else {
          this.posValArr = this.posValArr.filter(i => !i.label.includes(item))
          this.setPosVal()
        }
      },
      addVal(item, value) {
        if (this.currentItem2.includes('负面') || item.includes('负面')) {
          if (!this.negValArr.map(i => i.label).includes(item)) {
            this.negValArr.push({
              label:`${this.currentItem2}：${item}`,
              value,
              weight: 0
            })
            this.setNegVal()
          } else {
            this.delVal(item)
          }
        } else {
          if (!this.posValArr.map(i => i.label).includes(item)) {
            this.posValArr.push({
              label:`${this.currentItem2}：${item}`,
              value,
              weight: 0
            })
            this.setPosVal()
          } else {
            this.delVal(item)
          }
        }
      },
      setPosVal() {
        this.posVal = this.posValArr.map(item => {
          let w = Math.abs(item.weight)
          let signStart = item.weight > 0 ? '{' : '['
          let signEnd = item.weight > 0 ? '}' : ']'
          return `${Array(w).fill(signStart).join('')}${item.value}${Array(w).fill(signEnd).join('')}`
        }).join(',')
        localStorage.posValArr = JSON.stringify(this.posValArr)
      },
      setNegVal() {
        this.negVal = this.negValArr.map(item => {
          let w = Math.abs(item.weight)
          let signStart = item.weight > 0 ? '{' : '['
          let signEnd = item.weight > 0 ? '}' : ']'
          return `${Array(w).fill(signStart).join('')}${item.value}${Array(w).fill(signEnd).join('')}`
        }).join(',')
        localStorage.negValArr = JSON.stringify(this.negValArr)
      },
      weightF(item, sign) {
        if (this.currentItem2.includes('负面') || item.includes('负面')) {
          const value = this.negValArr.find(i => i.label.includes(item))
          value.weight = sign === 'add' ? ++value.weight : --value.weight
          this.setNegVal()
        } else {
          const value = this.posValArr.find(i => i.label.includes(item))
          value.weight = sign === 'add' ? ++value.weight : --value.weight
          this.setPosVal()
        }
      },
      clearPosValArr() {
        this.posValArr = []
        this.setPosVal()
      },
      clearNegValArr() {
        this.negValArr = []
        this.setNegVal()
      }
    }
  };
  const app = Vue.createApp(App);
  app.mount("#app");
</script>